<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
 <div th:fragment="wrap-footer">
        <footer>
            <div class="flex inner">
                <ul>
                    <li>
                        <div class="tf">
                            <p>트립앤트</p>
                        </div>
                        <div class="to">
                            <p>서울 강남구 테헤란로10길 9 5층</p>
                            <p>문의하기  tripant1004@gmail.com</p>
                        </div>
                    </li>
                    <li>
                        <div class="tf">
                            <p>법적고지</p>
                        </div>
                        <div class="to">
                            <p>개인정보 처리방침</p>
                            <p>운영정책</p>
                        </div>
                    </li>
                    <li>
                        <div class="tf">
                            <p>제작자</p>
                        </div>
                        <div class="to">
                            <p>김보민    github.com/Voming</p>
                            <p>김은진    github.com/eunjin0522</p>
                            <p>배소진    github.com/sobae17</p>
                            <p>서재원    github.com/seojw0730</p>
                            <p>오예인    github.com/OYeeee</p>
                        </div>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>