<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="wrap-list" th:fragment="complainlist">
	<div class="ad-search">
				<th:block th:if="${complainMap!=null and complainMap.searchMem != null}">
				<input class="search" type="text" name="search" placeholder="신고글 검색"    th:value="${complainMap.searchMem}">
				</th:block>
				<th:block th:if="${complainMap==null or complainMap.searchMem == null}">
				<input class="search" type="text" name="search" placeholder="신고글 검색" >
				</th:block>
				<button type="button" class="btn-search" onclick="searchBtnHandler();"><img th:src="@{/images/icons/search.png}" alt="검색"/></button>
			</div>
			
			<div class="ad-content">
				<ul class="boardlist">
					<li>	
						<ul class="col">
							<li>선택</li>
							<li>번호</li>
							<li>제목</li>
							<li>닉네임</li>
							<li>날짜</li>
							<li>신고수<button type="button" class="btn-reports" onclick="clickReportHandler();">▼</button></li>
						</ul>
					</li>
					<li id="list">
						<th:block th:each="complainBoard:${complainMap.complainBoard}" th:data-reports="${complainBoard.reports}" >
						<ul class="col list">
							<li><input type="checkbox" class="check" name="check"  th:data-diary-id="${complainBoard.diaryId}" onclick="checkSetHandler();"></li>
							<li th:text="${complainBoard.diaryId}"></li>
							<li th:text="${complainBoard.diaryTitle}"></li>
							<li th:text="${complainBoard.memNick}"></li>
							<li th:text="${complainBoard.diaryDate}"></li>
							<li th:text="${complainBoard.reports}"></li>
							<li></li>
						</ul>
						</th:block>
					</li>
				</ul>
				
			</div>
			<div><button type="button" class="btn-reset" disabled onclick="cickSetHandler();"><h5>초기화</h5></button></div>
			
			<!-- paging --> 
		<div style="text-align: center;">
			<div class="paging_wrap">
			<th:block th:if="${complainMap.totalPageCount > 0}">
				<div th:if="${complainMap.startPageNum > 1}" class="goprepage">
		            <button type="button" onclick="searchBtnHandler(this);" class="btn-gopage" th:data-targetpage="${complainMap.startPageNum - 1}">&lt;</button>
		        </div>
		        <div th:each="page :  ${#numbers.sequence(complainMap.startPageNum, complainMap.endPageNum)}">
			        <div th:if="${complainMap.currentPage == page}" class="current_page">
			            <button type="button" disabled class="btn-gopage" th:data-targetpage="${page}" th:text="${page}"></button>
			        </div>
			        <div th:if="${complainMap.currentPage != page}" class="gopage">
			            <button type="button" onclick="searchBtnHandler(this);" class="btn-gopage" th:data-targetpage="${page}" th:text="${page}"></button>
			        </div>
		        </div>
		        
		        <div th:if="${complainMap.endPageNum < complainMap.totalPageCount}">
		            <button type="button" onclick="searchBtnHandler(this);" th:data-targetpage="${complainMap.endPageNum + 1}" class="btn-gopage">&gt;</button>
		        </div>	
		        </th:block>		
			</div>
		</div>
</div>	
</html>