@charset "UTF-8";

.main-wrapper .nav-wrapper .nav .dayn{
	display: flex;
    box-shadow: 0 2px 8px 0 var(--color_gray) !important;
    height : 40px;
    width: 80%;
   	border-radius: 10px;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}


.main-wrapper .nav-wrapper .btn{
	width:80%;
	height : 50px;
	margin : 5px;
 	font-size:15px;
 	border : none;
    background-color: #fafafa;
    border-radius: 10px;
}
.main-wrapper .nav-wrapper .cancel,
.main-wrapper .nav-wrapper .edit,
.main-wrapper .nav-wrapper #add-btn{
	height:30px;
}

.main-wrapper .nav-wrapper .btn:hover,
.main-wrapper .nav-wrapper #add-btn{
	background-color: black;
	color: white;
}
