@charset "UTF-8";

/*회원 리스트 */
.wrap-body {
	width:100%;
}

.wrap-body .ad-content>ul>li:first-child{
	 text-align: center;
	 /* 수직정렬 */
	 vertical-align:middle;  
}

.wrap-body .ad-content {
	display:flex;
	width:100%;
}

 .wrap-body .ad-search .search{
	width:90%;
	border-radius:20px;
	height:30px;
	border: solid black 1px;
	margin:40px 0 20px 30px;
	padding:5px; 
} 

.wrap-body .ad-content .memberlist{
	margin: 0 auto;
	width:100%;
}

.wrap-body .ad-content .col{
  	display:flex;
  	padding:15px 0 15px 0;  
  	border-bottom:1px solid black;
  	align-items:center;
} 

.wrap-body .ad-content .list>li{
	 margin:15px 0 15px 0; 
	
}

.boardlist> ul>li{
	 float:left;  
	 text-align:center; 
}

.memberlist > li >ul{
	 clear:both;
}

.memberlist > li> ul >li{
	 float:left;
	 vertical-align:baseline;
	 text-align: center;
}


.memberlist > li> .col >li:first-child{
	width:13%;
}

.memberlist > li> .col >li:first-child+li{
	width:22%;
}
.memberlist > li> .col >li:first-child+li+li{
	width:17%;
}
.memberlist > li> .col >li:first-child+li+li+li{
	width:17%;
}
.memberlist > li> .col >li:first-child+li+li+li+li{
	width:13%;
}
.memberlist > li> .col >li:first-child+li+li+li+li+li{
	width:13%;
}


/*  */

.col.list .btn{
	border-radius:8px;
	border:solid black 1px;
	height:30px;
	width:60px;
	background-color:white;
}

.col.list .btn:hover{
	background-color:black;
	color:white;
}

.wrap-body .ad-search{
	position:relative;
}

.wrap-body .ad-search .btn-search{
	border: 0;
	background-color: white;
	position: absolute;
	top: 49%;
    right:8.5%;
}

.paging_wrap {
	display: flex;
	justify-content: center;
}
