<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="arealist">
		<ul class="area-tab-nav">
			<li class="tags"><a href="#tab1">전체</a></li>
			<li class="tags"><a href="#tab2">서울</a></li>
			<li class="tags"><a href="#tab3">부산</a></li>
			<li class="tags"><a href="#tab4">대구</a></li>
			<li class="tags"><a href="#tab5">인천</a></li>
			<li class="tags"><a href="#tab6">광주</a></li>
			<li class="tags"><a href="#tab7">대전</a></li>
			<li class="tags"><a href="#tab8">울산</a></li>
			<li class="tags"><a href="#tab9">세종</a></li>
			<li class="tags"><a href="#tab10">경기</a></li>
			<li class="tags"><a href="#tab11">강원</a></li>
			<li class="tags"><a href="#tab12">충북</a></li>
			<li class="tags"><a href="#tab13">충남</a></li>
			<li class="tags"><a href="#tab14">전북</a></li>
			<li class="tags"><a href="#tab15">전남</a></li>
			<li class="tags"><a href="#tab16">경북</a></li>
			<li class="tags"><a href="#tab17">경남</a></li>
			<li class="tags"><a href="#tab18">제주</a></li>
		</ul>
	</div>
</body>
</html>