<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link th:href="@{/css/diary/diary_aside.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrap-diary-aside" th:fragment="wrap-diary-aside" style="font-family: 'Binggrae';">
		<div class="aside-inner">
			<ul class="diary-aside">
				<li class="diary-aside-title"><span class="title-text"> 여행기 </span></li>
				<li class="diary-aside-board"><a th:href="@{/diary}"  class="borad">여행기
						게시판</a></li>
				<li class="diary-aside-myboard"><a th:href="@{/my/diary}" sec:authorize="isAuthenticated()"  class="myborad">나의
						여행기</a></li>
						<!-- 기본 글 작성 -->
				<li class="diary-aside-write"><a th:href="@{/my/post}" class="write">여행기
						작성하기</a></li>
						<!-- 폰트 구매 후 글 작성 -->
				<!-- <li class="diary-aside-write"><a th:href="@{/my/post/font}" class="write">여행기
						작성하기</a></li> -->
			</ul>
		</div>
	</div>
</body>
</html>