@charset "UTF-8";
/* 레이아웃 규격 정하기 */
aside {
	position: fixed; /* 글 스크롤시 따라다니게 하기 */
	left: 90px; /* 사이드바 지역태그 부분이랑 사이간격 띄우기 */
	width: 160px; /* 사이드바 간격 조절 */
	top: 180px; /* 사이드바 지역태그랑 나란히 */
	font-family: 'Binggrae';
}

.diary-aside {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	/* width: 100px; */
	background: #f4f5f7;
	/* height: 100%; */
	overflow: auto;
	height: 200px;
	border-radius: 10px;
	color: #0a0a0a;
}

.diary-aside .borad, .myborad, .write {
	text-decoration: none;
	padding: 10px;
	color: #000;
	/* 사이드바 글씨 정렬 */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.diary-aside a:hover {
	background: #fff;
	color: #333;
}

.diary-aside .diary-aside-title span {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 27px; /* "여행기" 위에 띄우기  */
	padding-bottom: 10px;
}

.diary-aside .aside-inner {
	font-family: 'Binggrae';
}

.diary-aside .section-content {
	margin-left: 180px; /* 사이드바와의 여백 */
	padding: 20px;
} /* 콘텐츠와의 여백 */
.title-text {
	font-weight: bolder; /* 여행기 제목 글씨 두껍게 */
	font-size: var(--font2);
}