@charset "UTF-8";

.wrap-body .wrap-example-content{
	background-color: var(--color_light_gray);
}

.wrap-body .example-content {
	/* 중앙 배치 */
	width: 960px;
	margin: 0 auto;
	/* 가로 정렬 */
	display: flex;
	flex-wrap: wrap;
	
}
.wrap-example .example-content li{
	width: 470px;
	height: 500px;
	/* 상하좌우 정중앙 정렬하기 */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrap-example .example-right h2,
.wrap-example .example-right h6{
	margin-left: 40px;
	padding: 2px;
}
.wrap-body .example-img img {
	width: 470px;
	height: 300px;
	object-fit: cover;
	border-radius: 8px;
}
