@charset "UTF-8";

.wrap-main {
	width: 960px;
	margin: 120px auto;
}

.wrap-main * {
	font-family: 'Binggrae';
}

.wrap-main .hide {
	display: none;
}

.wrap-main .btn {
	cursor: pointer;
	font-size: var(--font5);
	border-radius: 8px;
	border: 0;
	padding: 5px 10px;
	background-color: black;
	color: white;
}

.wrap-main .btn:disabled{
	background-color: lightgray;
	color: white;
}

.wrap-main input{
	box-sizing: border-box;
}

.wrap-main .flex {
	display: flex;
}

.wrap-main .flex.center {
	justify-content: center;
}

.wrap-main .flex.join {
	width: 340px;
	margin: 0 auto;
	flex-direction: column;
	row-gap: 20px;
	padding: 30px 20px;
	background-color: #f6f6f6;
	border-radius: 10px;
}

.wrap-main .join.title {
	font-size: var(--font1);
}

.wrap-main .flex.login button{
	box-sizing: border-box;
}

.wrap-main .inputbtn {
	width: 100%;
}

.wrap-main .flex.inputbtn {
	justify-content: space-between;
}

.wrap-main .inputbtn1, .wrap-main .inputchk1, .wrap-main .inputlbl2 {
	width: 70%;
}

.wrap-main .inputbtn1 input, .wrap-main .inputchk1 input, .wrap-main .inputlbl2 input, .wrap-main .btn.join
	{
	width: 100%;
}

.wrap-main .inputbtn2, .wrap-main .inputchk2 {
	width: 30%;
	display: flex;
	justify-content: center;
}

.wrap-main textarea {
	resize: none;
	width: 100%;
	box-sizing: border-box;
	color: black;
	background-color: white;
}

.wrap-main .g-recaptcha {
	display: flex;
	justify-content: center;
}

.wrap-main .mem.join, .wrap-main .back {
	text-align: center;
}